@import url(style.css);

textarea{
    resize: none;
}

.button{
    height: 2rem;
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 75%;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: var(--primary-color);
  }
  
  th,
  td {
    border: 1px solid var(--dark);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: var(--secondary-color);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  @media screen and (max-width: 360px) {

    table{
     letter-spacing: 0px;

    }
    textarea{
      width: 350px;
    }


}