@import url(style.css);

.hidden {
  display: none;
}

input {
  display: none;
}

li img {
  width: 25%;
  height: auto;
}

label {
  margin: 5px;
  cursor: pointer;
  width: 5em;
}

.barre-deroulante {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 10px;
}

.barre-deroulante img {
  height: 30px;
  width: auto;
}

@media screen and (max-width: 360px) {

  ul img {
    width: 14rem;
    height: auto;
  }

  

}