@import url(style.css);


/* .block-profile-picture{
    background-color: var(--secondary-color);
    padding-top: 1rem;
    margin-bottom: -5rem;
    height: 20vw;
}
.profile-picture{
    position: absolute;
    width: 30vw;
    height: auto;
    display: block;
    margin-top: 5rem;
    top: 10%;
    transform: translateY(40%);
    left: 50%;
    transform: translateX(-50%);
} */

img {
    max-width: 95vh;
    height: auto;
}
.biography{
 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraphe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraphe p {
    width: 80ch;
}

.paragraphe:nth-child(2n) {
    background-color: var(--secondary-color);
}



@media screen and (max-width: 360px) {
    img {
        max-width: 20rem;
        height: auto;
    }

    .paragraphe p {
        width: 30ch;
    }
}
